.main_brand_wrap {
    position: relative;
    width: 1020px;
    margin-top: 80px;
    letter-spacing: -.01em;
}
.main_brand_wrap .main_sub_tit {
    height: auto;
    margin-top: 0;
    line-height: 28px;
}
.main_sub_tit {
    height: 40px;
    margin: 51px 0 8px;
    font-size: 26px;
    color: #000;
    text-align: center;
    line-height: 40px;
}
.home-category {
    position: relative;
    padding: 20px 0;
    text-align: center;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    transition-property: transform;
}
