* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    word-spacing: -1px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    font-family: Montserrat, -apple-system, NotoSansCJKkr, AppleSDGothicNeo, Roboto, dotum, "돋움", sans-serif;
    letter-spacing: -.04em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
div {
    display: block;
}
footer, header {
    width: 100%;
    min-width: 1020px;
}
