<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js class 관련</title>
</head>
<body>
    <h1>class constructor 전단계</h1>
    <script>
        console.log("class constructor 전단계");
        function funcConstructor(age, name, score){
            var obj = {
                age : age,
                name : name,
                score : score
            };
            return obj;
        }

        let ej = funcConstructor(12, 'ej', 22);
        let jw = funcConstructor(23, 'jw', 99);
        console.log(ej.score);
        ej.score = 98

        function student(age,name,score){
            this.age = age;
            this.name = name;
            this.score = score;
        }
        let cw = new student(12, 'cw',33);
    </script>
</body>
</html>