<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>표태그도 좀 중요</h1>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="2">내용 1</td>

                <td rowspan="3">내용 3</td>
                <td>내용 4</td>
            </tr>
            <tr>
                <td>내용 5</td>
                <td rowspan="2">내용 6</td>

                <td>내용 8</td>
            </tr>
            <tr>
                <td>내용 9</td>


                <td>내용 12</td>
            </tr>
        </tbody>
        <caption>표1 - caption 표시</caption>
    </table>
    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>내용 1</th>
                <th>내용 2</th>
                <th>내용 3</th>
                <th>내용 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>aaa내용 5</th>
                <td>aaaa내용 6</td>
                <td>aaa내용 7</td>
                <td>내용 8</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>내용 9</th>
                <td>내용 10</td>
                <td>내용 11</td>
                <td>내용 12</td>
            </tr>
        </tfoot>
    </table>




    <h1>목록태그는 나열식-메뉴등 쓰임이 많음</h1>
    <ul>
        <li>메뉴 1</li>
        <li>
            메뉴 2 Submenu
            <ul>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
            </ul>
        </li>
        <li>
            <div>메뉴 2 Submenu</div>
            <ul>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
            </ul>
        </li>
        <li>
            <dd>
            <dt>메뉴 DT</dt>
            <dd>메뉴 DD</dd>
            <dd>메뉴 DD</dd>
            <dd>메뉴 DD</dd>
            </dd>
        </li>
        <li>메뉴 1</li>
    </ul>
    <ol type="I" start="5">
        <li>메뉴 1</li>
        <li>메뉴 1</li>
        <li>메뉴 1</li>
        <li>메뉴 1</li>
    </ol>
    <dd>
    <dt>메뉴 DT</dt>
    <dd>메뉴 DD</dd>
    <dd>메뉴 DD</dd>
    <dd>메뉴 DD</dd>
    <dt>메뉴 DT</dt>
    <dt>메뉴 DT</dt>
    <dd>메뉴 DD</dd>
    <dd>메뉴 DD</dd>
    <dd>메뉴 DD</dd>
    </dd>

    <p><strong><em>글꼴<mark>관련</mark><small>테스트</small></em></strong></p>
    <h1>제목H1</h1>
    <h2>제목H2</h2>
    <h3>제목H3</h3>
    <h4>제목H4</h4>
    <h5>제목H5</h5>
    <h6>제목H6</h6>
    <h7>제목H7</h7>
    <h0>제목H0</h0>
    <hr>
    <p>첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.
        첫 코드입니다.
        <hr>첫 코드입니다.첫 코드입니다.
        첫 코드입니다.첫 코드입니다.첫 코드입니다.
        첫 코드입니다.
    </p>

    <!-- ctrl /으로 주석 -->
    "안녕하세요. &nbsp;&nbsp;&nbsp; "" 반갑습니다.
    html 처음입니다.
    <br><br><br><br>
    <br>
    <br>
    &nbsp; live server startup - alt + L - O
    <!-- Code injected by live-server -->
</body>

</html>